<?xml version="1.0" encoding="UTF-8"?>
<plugin id="fkmit-fido-webview-plugin" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Fido Integration Plugin</name>
    <description>Fido support for Android Webviews.</description>

    <engines>
        <engine name="cordova" version=">=12.0.0"/>
    </engines>

    <platform name="android">

        <preference name="KOTLIN_VERSION" default="1.9.24" />
        <preference name="COMPOSE_COMPILER_VERSION" default="1.5.15" />
        <preference name="COMPOSE_BOM_VERSION" default="2024.12.01" />
        <preference name="YUBIKIT_VERSION" default="3.0.0" />

        src/android/build-extras.gradle

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FidoIntegration">
                <param name="android-package" value="com.fkmit.fido.FidoIntegration"/>
            </feature>
        </config-file>

        src/android/FidoIntegration.kt
        src/android/FidoHandlers.kt
        src/android/StatusCodes.kt
        src/android/NFCDiscoveryDispatcher.kt

    </platform>

    <js-module src="www/FidoIntegration.js" name="FidoIntegration">
        <clobbers target="FidoIntegration"/>
    </js-module>

</plugin>
